@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    background-color: white;
    font-family:'Montserrat',sans-serif;
    margin: 0;
    overflow-x: hidden ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}   

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner {
        max-height: 39rem;
}



.header{
    display: flex;
    min-height: 70px;
    background-color: rgb(120, 1, 22);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.footer{
    display: flex;
    background-color:  rgb(120, 1, 22);
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.nav a{
    font-weight: 600;
    padding-right: 10px;
}

.nav a:hover{
    color: white;
}

.container {
  display: flex;
  width: 90vw;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
	color: #333;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #666;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button {
	background-color:rgb(120, 1, 22);
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(120, 1, 22);
}

.container .registro{
  color: white;
}

