<<<<<<< HEAD

=======
>>>>>>> egenau
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    background-color: white;
    font-family:'Montserrat',sans-serif;
    margin: 0;
    overflow-x: hidden ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}   

#menu button {
    font-size: 18px;
    font-weight: bold;
}

<<<<<<< HEAD
.a{
    text-decoration: none;
    color: black;

}

=======
.carousel-inner {
        max-height: 39rem;
}



>>>>>>> egenau
.header{
    display: flex;
    min-height: 70px;
    background-color: rgb(120, 1, 22);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.footer{
    display: flex;
    background-color:  rgb(120, 1, 22);
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.nav a{
    font-weight: 600;
    padding-right: 10px;
}

.nav a:hover{
    color: white;
}

.container {
  display: flex;
  width: 90vw;
}

<<<<<<< HEAD
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  --webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width:450px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10 px 0px;
    }

      .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.revestimiento {
  min-height: 100vh;
  position: relative; }

.interno {
  position: absolute; 
  top: 25%;
  left: 2%;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px; }

  .form {
    width: 100%;
    height: 100%;
    padding: 40px 40px 40px;
    background: #ffffff; }
=======
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
	color: #333;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #666;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

button {
	background-color:rgb(120, 1, 22);
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(120, 1, 22);
}

.container .registro{
  color: white;
}
>>>>>>> egenau

