body{
    background-color: lightblue;
}
h1{
    color: black;
    align-items: center;
}
p{
    color: red ;
    margin-left: 20 px;
    margin-right: 20 px;
    padding-left: 10 px;
    padding-right: 10 px;
    border-bottom-color: blue;
}