
body{
    background-color: rgb(142, 141, 141);
}
h1{
    color: lightgray;
    text-align: center;
}

p{
    color: red ;
    margin-left: 20 px;
    margin-right: 20 px;
    padding-left: 10 px;
    padding-right: 10 px;
    border-bottom-color: blue;
}
.nav{
    color:lightgray 
}
.footer{
    color: lightgray;
}
.categorias{
    color: lightgray;
}